<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
    <section class="publicMian ">
        <div class="left" th:replace="main/public :: #public_left(activeUri='pwd')">
        </div>
        <div class="right">
            <div class="location">
                <strong>Location:</strong>
                <span>Password Update</span>
            </div>
            <div class="mediaAdd">
                <form id="pwdForm" th:action="@{/user/pwd}"  method="post">
                    <div class="">
                        <label for="oldPassword">Old：</label>
                        <input type="password"  id="oldPassword" autofocus="autofocus" required/>
                        <span id="pwdText">*Old Password</span>
                    </div>
                    <div>
                        <label for="newPassword">New：</label>
                        <input type="password"  id="newPassword" required/>
                        <span id="newPwdText">*New Password</span>
                    </div>
                    <div>
                        <label for="reNewPassword">Confirm：</label>
                        <input type="password"  name="password" id="reNewPassword" required/>
                        <span id="reNewPwdText" >*Confirm</span>
                    </div>
                    <div class="mediaAddBtn">
                        <input type="button" value="save" id="save"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
<footer class="footer" th:replace="main/public :: #public_footer"></footer>
<script th:replace="main/public :: #public_jquery"></script>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var isCheck = false;
        $("#oldPassword").blur(function () {
            var oldPassword = $(this).val().trim();
            if (!oldPassword) {
                $('#pwdText').css('color', 'red');
                isCheck = false;
                return;
            }

            var url = [[@{/user/pwd/}]] + oldPassword;
            console.log(url);

            $.ajax({
                url: url,
                dataType: 'json',
                method: 'GET',
                // data: true/false
                success: function(data) {
                    isCheck = data;
                    data ? $("#pwdText").replaceWith("<span id='pwdText'>*correct</span>")
                        : $("#pwdText").replaceWith("<span id='pwdText' style='color: red'>*incorrect</span>");
                },
                error: function () {
                    $('#pwdText').html("Error");
                    isCheck = false;
                }
            })
        });


        $("#save").click(function () {
            console.log(0);
            if (isCheck) {
                console.log(1);
                if ($("#newPassword").val() && $("#reNewPassword").val() && $("#newPassword").val() == $("#reNewPassword").val()) {
                    console.log(2);
                    $("#pwdForm").submit();
                } else {
                    console.log(3);
                    $("#reNewPwdText").replaceWith("<span id=\"reNewPwdText\" style='color: red'>*保证和新密码一致</span>")
                }
            }
        })


    })


</script>
</body>
</html>