<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian">
    <div class="left" th:replace="main/public :: #public_left(activeUri='media')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Location:</strong>
            <span>media</span>
        </div>
        <form id="searchForm" th:action="@{/medias}" th:method="get">
            <div class="search">
                <span>media name：</span>
                <input type="text" placeholder="media name" th:value="${mediaName}" name="mediaName"/>
                <input type="button" value="search" onclick="$('#searchForm').submit()"/>
                <a th:href="@{/media}">Add media</a>
            </div>
        </form>
        <!--供应商操作表格-->
        <table class="mediaTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="5%">media id</th>
                <th width="20%">media name</th>
                <th width="10%">telephone</th>
                <th width="10%">fax</th>
                <th width="10%">created date</th>
                <th width="30%">operation</th>
            </tr>
            <tr th:each="v : ${medias}">
                <td th:text="${v.vid}"></td>
                <td th:text="${v.mediaName}"></td>
                <td th:text="${v.telephone}"></td>
                <td th:text="${v.fax}"></td>
                <td th:text="${#dates.format(v.createdDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:href="@{/media/} + ${v.vid}"><img th:src="@{/img/check.png}"/></a>
                    <a th:href="@{/media/} + ${v.vid} + @{?type=update}"><img th:src="@{/img/update.png}"/></a>
                    <a th:attr="del_uri=@{/media/} + ${v.vid}" class="delete" ><img th:src="@{/img/delete.png}"/></a>
                </td>
            </tr>
        </table>

    </div>
</section>

<div class="zhezhao"></div>
<form method="post" id="deleteForm" th:replace="main/public :: #deleteForm">
</form>


<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script th:src="@{/js/js.js}"></script>

</body>
</html>