<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='media')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Location:</strong>
            <span>media >> check</span>
        </div>
        <div class="mediaView">
            <p><strong>media name：</strong><span th:text="${media.mediaName}"></span></p>
            <p><strong>telephone：</strong><span th:text="${media.telephone}"></span></p>
            <p><strong>fax：</strong><span th:text="${media.fax}"></span></p>
            <p><strong>describe：</strong><span th:text="${media.describe}"></span></p>

            <a th:href="@{/medias}">back</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
</body>
</html>