<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bill.mapper.MediaMapper">
    <select id="getMedias" resultType="com.example.bill.entities.Media">
        select * from media where 1=1
        <if test="mediaName != null and mediaName != ''">
            and media_name like '%${mediaName}%'
        </if>
    </select>

    <select id="getMediaByPid" resultType="com.example.bill.entities.Media">
        select * from media where vid=#{vid}
    </select>

    <insert id="addMedia">
        INSERT INTO media ( `media_name`, `telephone`, `address`, `fax`, `describe`, `created_date`)
        VALUES ( #{mediaName}, #{telephone}, #{address}, #{fax}, #{describe}, now())
    </insert>

    <update id="updateMedia">
        UPDATE media
        SET  media_name=#{mediaName},
         telephone=#{telephone}, address=#{address}, fax=#{fax}, `describe`=#{describe}, created_date=now()
        WHERE vid=#{vid}
    </update>

    <delete id="deleteMediaByPid">
        delete from media where vid = #{vid}
    </delete>

</mapper>