<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='vendor')">
    </div>
    <div class="right">
        <div class="location">
            <strong th:replace="main/public :: #public_location"></strong>
            <span>Users >> Add</span>
        </div>
        <div class="vendorAdd">
            <form th:action="@{/user}" method="post" id="addForm">

                <div class="">
                    <label for="username">username：</label>
                    <input type="text" name="username" id="username"/>
                    <span>*enter username</span>
                </div>
                <div>
                    <label for="realName">realname：</label>
                    <input type="text" name="realName" id="realName"/>
                    <span >*enter realname</span>
                </div>
                <div>
                    <label for="userpassword">password：</label>
                    <input type="text" name="userpassword" id="userpassword"/>
                    <span>*6 < password length < 20</span>

                </div>
                <div>
                    <label for="password">confirm：</label>
                    <input type="text" name="password" id="password"/>
                    <span id="pwdText">*confirm</span>
                </div>
                <div>
                    <label >gender：</label>

                    <select name="gender">
                        <option value="1">male</option>
                        <option value="2">female</option>
                    </select>
                    <span></span>
                </div>
                <div>
                    <label for="birthday">birthday：</label>
                    <input type="text" name="birthday" id="birthday" placeholder="like: 1999-11-02"/>
                    <span >*格式 yyyy-MM-dd </span>
                </div>
                <div>
                    <label >role：</label>
                    <input type="radio" name="userType" value="1" />admin
                    <input type="radio" name="userType" value="2" checked/>manager
                    <input type="radio" name="userType" value="3"/>user
                </div>
                <div class="vendorAddBtn">

                    <input type="button" value="save" id="save"/>
                    <input type="button" value="back" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer"></footer>

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript">
    $(function () {
        $('#save').click(function () {
            if ($("#userpassword").val().trim() == '' ||
                $("#password").val().trim() == '' ||
                $("#userpassword").val() != $("#password").val()) {

                $("#pwdText").replaceWith("<span id='pwdText' style='color: #ff0000'>*confirm</span>");
                return;
            }
            $("#addForm").submit();
        })
    })
    
</script>

</body>
</html>