<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='user')">
    </div>
    <div class="right">
        <div class="location">
            <strong th:replace="main/public :: #public_location"></strong>
            <span>Users >> update</span>
        </div>
        <div class="providerAdd">
            <form th:action="@{/user}" id="updateForm" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <input type="hidden" name="_method" value="put">

                <input type="hidden" name="id" th:value="${user.id}">
                <input type="hidden" name="username" th:value="${user.username}">
                <input type="hidden" name="password" th:value="${user.password}">
                <div>
                    <label for="realName">Real Name：</label>
                    <input type="text" name="realName" id="realName" placeholder="韩露" th:value="${user.realName}"/>
                    <span >*</span>
                </div>

                <div>
                    <label >Gender：</label>

                    <select name="gender">
                        <option value="1" th:selected="${user.gender == 1}">female</option>
                        <option value="2" th:selected="${user.gender == 2}">male</option>
                    </select>
                </div>
                <div>
                    <label for="birthday">Birthday：</label>
                    <input type="text" name="birthday" id="birthday" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}"/>
                    <span >*</span>
                </div>
                <div>
                    <label >User Type：</label>
                    <input type="radio" name="userType" value="1" th:checked="${user.userType == 1}" />Admin
                    <input type="radio" name="userType" value="2" th:checked="${user.userType == 2}" />Manager
                    <input type="radio" name="userType" value="3" th:checked="${user.userType == 3}" />User
                </div>
                <div class="providerAddBtn">
                    <input type="button" value="保存" onclick="$('#updateForm').submit()"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer th:replace="main/public :: #public_footer"></footer>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" src="../js/jquery.js"></script>


</body>
</html>