<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='vendor')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Your Location:</strong>
            <span>Users >> view</span>
        </div>
        <div class="vendorView">
            <p><strong>username：</strong><span th:text="${user.username}"></span></p>
            <p><strong>realname：</strong><span th:text="${user.realName}"></span></p>
            <p><strong>gender：</strong><span th:text="${user.gender}"></span></p>
            <p><strong>birthday：</strong><span th:text="${user.birthday}"></span></p>
            <p><strong>usertype：</strong><span th:text="${user.role == 1 ? 'admin' : (user.role == 2 ? 'manager' : 'user')}"></span></p>
            <a onclick="history.back(-1)" href="#">Back</a>
        </div>
    </div>
</section>
<footer th:replace="main/public :: #public_footer"></footer>


</body>
</html>