<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Your Location:</strong>
            <span>Bill System >> Add Bill</span>
        </div>
        <div class="mediaAdd">
            <form id="addForm" th:action="@{/bill}" th:method="post" action="#">
                <div>
                    <label for="total">Total：</label>
                    <input type="text" name="total" id="total" required/>
                    <span>*Please enter an integer</span>
                </div>
                <div>
                    <label >Media：</label>
                    <select name="vid" >
                        <option value="">--Medias--</option>
                        <option value="" th:each="v : ${medias}" th:value="${v.vid}" th:text="${v.mediaName}"></option>
                    </select>
                    <span>*Choose a media</span>
                </div>
                <div>
                    <label >Paid：</label>
                    <input type="radio" value="0" name="paid" checked />No
                    <input type="radio" value="1" name="paid"/>Yes
                </div>
                <div class="mediaAddBtn">
                    <input type="button" onclick="$('#addForm').submit();" value="save" />
                    <input type="button" value="back" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer">
</footer>
<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>

</body>
</html>