<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Your Location:</strong>
            <span>Bills</span>
        </div>
        <form id="searchForm" th:action="@{/bills}" th:method="get" >
            <div class="search" >

                <span>Vendor：</span>
                <select name="vid" >
                    <option value="">--Select--</option>
                    <option value="" th:selected="${v.vid == vid}" th:each="v : ${vendors}"  th:value="${v.vid}" th:text="${v.vendorName}" ></option>
                    </option>
                </select>

                <span>Paid：</span>
                <select name="paid" >
                    <option value="">--Select--</option>
                    <option value="0" th:selected="${paid == 0}" >No</option>
                    <option value="1" th:selected="${paid == 1}">Yes</option>
                </select>

                <input type="button" value="search" onclick="$('#searchForm').submit()"/>
                <a th:href="@{/bill}" href="../bill/add.html">Add</a>
            </div>
        </form>

        <table class="vendorTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">Id</th>
                <th width="10%">Total</th>
                <th width="10%">Paid</th>
                <th width="20%">Vendor</th>
                <th width="10%">Created Time</th>
                <th width="30%">Operation</th>
            </tr>
            <tr th:each="b : ${billVendors}">
                <td th:text="${b.bid}"></td>
                <td th:text="${b.total}"></td>
                <td th:text="${b.paid == 1 ? 'Yes' : 'No'}"></td>
                <td th:text="${b.vendorName}"></td>
                <td th:text="${#dates.format(b.createdDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <a th:href="@{/bill/} + ${b.bid}"><img th:src="@{/img/check.png}" src="../img/read.png"/></a>
                    <a th:href="@{/bill/} + ${b.bid} +'?type=update'"><img th:src="@{/img/update.png}" src="../img/xiugai.png"/></a>
                    <a th:attr="del_uri=@{/bill/}+${b.bid}"  href="#" class="delete" ><img th:src="@{/img/delete.png}"  src="../img/delete.png" /></a>
                </td>
            </tr>
        </table>
    </div>
</section>

<div class="zhezhao"></div>
<form method="post" id="deleteForm" th:replace="main/public :: #deleteForm">
</form>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script th:src="@{/js/js.js}"></script>

</body>
</html>