<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Location:</strong>
            <span>Bills >> Update</span>
        </div>
        <div class="mediaAdd">
            <form th:action="@{/bill}" method="post" id="updateForm">
                <input th:type="hidden" name="_method" value="PUT">
                <input th:type="hidden" name="bid" th:value="${billMedia.bid}">
                <div>
                    <label for="total">Total：</label>
                    <input type="text" name="total" id="total" placeholder="" th:value="${billMedia.total}"/>
                    <span>*</span>
                </div>
                <div>
                    <label >Media：</label>
                    <select name="vid" >
                        <option>--select media--</option>
                        <option th:each="v : ${medias}" th:value="${v.vid}" th:text="${v.mediaName}" th:selected="${v.vid == billMedia.vid}"></option>
                    </select>
                    <span>*</span>
                </div>
                <div>
                    <label >Paid：</label>
                    <input type="radio" value="0" name="paid" checked />No
                    <input type="radio" value="1" name="paid"/>Yes
                </div>
                <div class="mediaAddBtn">
                    <input type="button" value="save" onclick="$('#updateForm').submit()"/>
                    <input type="button" value="back" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

<script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>

</body>
</html>