<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--Header-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--Time-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--Main-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='bill')">
    </div>
    <div class="right">
        <div class="location">
            <strong>Location:</strong>
            <span>Bills >> check</span>
        </div>
        <div class="mediaView">
            <p><strong>Id：</strong><span th:text="${billMedia.bid}"></span></p>
            <p><strong>Total：</strong><span th:text="${billMedia.total}"></span></p>
            <p><strong>Media：</strong><span th:text="${billMedia.mediaName}"></span></p>
            <p><strong>Paid：</strong><span th:text="${billMedia.paid == 1 ? 'Yes' : 'No'}"></span></p>
            <p><strong>Created Time：</strong><span th:text="${#dates.format(billMedia.createdDate,'yyyy-mm-dd')}">2029/12/12 12:12:12</span></p>

            <a onclick="history.back(-1)" href="#">Back</a>
        </div>
    </div>
</section>

<footer class="footer" th:replace="main/public :: #public_footer">
</footer>

</body>
</html>